<div class="main-content-area">
  <div class="content-section">
    <div class="container mt-0">
      <div class="row mb-3">
        <div class="col-12 mb-2">
          <h2 class="title">Car list</h2>
        </div>
      </div>
      <div class="row" *ngIf="!!carSummaries?.length; else noNews">
        <div
          class="col-12 col-sm-6 col-md-4 d-flex"
          *ngFor="let car of carSummaries"
        >
          <app-car-card-container
            [car]="car"
            (clickItem)="onCarClicked($event)"
            class="flex-grow-1 mb-4"
          >
          </app-car-card-container>
        </div>
      </div>
      <ng-template #noNews>
        <div class="row" *ngIf="!carSummaries">
          <div class="col text-center">Unable to find any car.</div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
