<div class="main-content-area">
  <div class="content-section">
    <div class="container mt-0">
      <div class="row mb-3">
        <div class="col-12 mb-2">
          <h2 class="title">Car Details</h2>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" routerLink="/cars">Home</a></li>
            <li class="breadcrumb-item">Car Details</li>
          </ol>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12 d-flex">
          <div class="car-card">
            <div class="car-image-container">
              <div
                id="bootstrapCarousel"
                class="carousel slide"
                data-ride="carousel"
              >
                <!-- Slide Indicators -->
                <ul class="carousel-indicators">
                  <li
                    data-target="#bootstrapCarousel"
                    attr:data-slide-to="i"
                    class="{{ i == 0 ? 'active' : '' }}"
                    *ngFor="let pic of car?.photos; let i = index"
                  ></li>
                </ul>

                <!-- The slides to show -->
                <div class="carousel-inner">
                  <div
                    class="carousel-item {{ i == 0 ? 'active' : '' }}"
                    *ngFor="let pic of car?.photos; let i = index"
                  >
                    <img [src]="pic" />
                  </div>
                </div>

                <!--  Controls (Left and right) -->
                <a
                  class="carousel-control-prev"
                  href="#bootstrapCarousel"
                  data-slide="prev"
                >
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#bootstrapCarousel"
                  data-slide="next"
                >
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
            </div>

            <div class="car-card-text">
              <h3 class="car-card-title">
                {{ car?.id }}
                <span class="tag-status">{{ car?.listingType }}</span>
              </h3>
              <div class="blurb">
                {{
                  car?.title?.length > 128
                    ? (car?.title | slice: 0:125) + "..."
                    : car?.title
                }}
              </div>
              <div class="car-price">$ {{ car?.price }}</div>
            </div>

            <div class="footer">
              <div class="footer-text">Odo meter: {{ car?.odometer }}</div>
              <div class="footer-text">
                Seller type: {{ car?.sellerType }} ({{ car?.state }})
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-12">
          <h3>Features</h3>
          <div *ngFor="let f of car?.features">
            <span
              >- <b>{{ f?.group }}</b
              >: {{ f?.name }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

