<div class="car-card" (click)="onClick()">
  <div class="car-image-container">
    <img [src]="car?.photo" />
  </div>

  <div class="car-card-text">
    <h3 class="car-card-title">
      {{ car?.id }} <span class="tag-status">{{car?.listingType}}</span></h3>
    <div class="blurb">
      {{
        car?.title?.length > 128
          ? (car?.title | slice: 0:125) + "..."
          : car?.title
      }}
    </div>
    <div class="car-price">$ {{ car?.price }}</div>
  </div>

  <div class="footer">

    <div class="footer-text">
      Odo meter: {{ car?.odometer }}
    </div>
    <div class="footer-text"> Seller type: {{ car?.sellerType }} ({{ car?.state }})</div>
  </div>
</div>

