.car-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  transition-property: box-shadow, transform, -webkit-transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  overflow-wrap: break-word;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
    0 1px 3px 1px rgba(60, 64, 67, 0.16);
  background-color: white;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0 5px 10px;
    -webkit-transform: translate(0, -1px);
    transform: translate(0, -1px);
  }

  .car-image-container {
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .car-card-text {
    flex-grow: 1;
    color: #5b6275;
    font-weight: 300;
    padding: 1rem 1rem 0;

    .car-card-title {
      word-break: break-word;
      font-size: 0.9375rem;
      margin-bottom: 4px;
    }

    .blurb {
      color: #5b6275;
      word-break: break-word;
      margin-bottom: 2px;
    }
    .car-price {
      color: red;
      font-weight: 20;
    }

    .tag-status {
      margin: 0 0.5rem 0.5rem;
      padding: 0.1rem 1rem;
      font-size: 0.75rem;
      border: 1px solid #cfd2da;
      border-radius: 0.25rem;
      text-align: center;
      font-weight: 500;
    }
  }

  .footer {
    display: inline;
    align-items: baseline;
    padding: 0 1rem 1rem;

    .footer-text {
      font-size: 0.75rem;
      color: #7c8498;
    }
  }
}
