
.main-container-sidenav-and-content[_ngcontent-ngf-c3] {
  display: flex;
  width: 100%!important;
  height: 100%;
}

.sidenav{
  position: fixed;
  list-style-type: none;
  max-width: 180px;
  min-width: 180px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.08), 0 2px 2px 0 rgba(0,0,0,.07), 0 1px 5px 0 rgba(0,0,0,.06);
  white-space: nowrap;
  overflow-y: auto;
  background: #fff;
  z-index: 1001;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  cursor: pointer;

}

.right-col{
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 50px 0 0;
  display: flex;
  flex-direction: column;
}
